<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phone Changer</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.ico">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//www.lightningdesignsystem.com/_next/static/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        body {
        }
    </style>
    <script>
	
    </script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#home" id="lgid">  <img src="img/calvin logo.png" alt="Logo" title="" style="width:130px;height:45px;"/>
</a>
 <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#home" style="font-size:14px;" id="hmid">Home&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#slotbookingpage" style="font-size:14px;" id="stid">Student Counseling Scheduler</a>
    </li>
  </ul>
</nav><br/><br/><br/><br/>
<div class="" style="padding:10px;">
   
	<div style="width:100%;" id="maindiv">
	<div style="width:100%;" id="cnfrmslotsdiv">
		<table style="width:100%;">
			<tr>
				<td style="width:100%;vertical-align:top;">
					<div style="width:100%;background-color:#e1e9ed;border-radius:0.5rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
						<div style="padding:0.5rem;background-color:#667db6;border-radius:0.5rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
							<center>
								<span style="font-size:16px;color:white;font-weight:bold;">
									Student Counseling Scheduler
								</span>
							</center>
						</div>
                        <br/>
						
						<div style="font-size:13px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-left:1rem;margin-right:1rem;margin-top:5px;background-color:white;border-radius:0.25rem;padding:1rem;">
							<table style="width:100%;">
								<tr>
									<td style="width:50%;">
									📢&nbsp;&nbsp;
										<span style="font-size:13px;">
											Information related to Counseling Sessions<br/>
										</span>
									</td>
									<td style="width:50%;">
										<button type="button" onclick="loginfunc()" class="btn btn-primary" style="float:right;font-weight:bold;font-size:15px;">Schedule Student Counseling Session</button>
									</td>
								</tr>
							</table>
							<center>
								<span style="font-size:15px;">
									Confirmed Counseling Sessions
								</span>
							</center>
						</div>
						<div style="height:2px;">
						
						</div>
						<div class="" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-left:1rem;margin-right:1rem;background-color:white;border-radius:0.25rem;">
							<div style="width:100%;background-color:#667db6;">
								<table style="width:99%;color:white;" class="">
									<thead>
										<tr style="background-color:#667db6;">
											<th style="width:20%;padding:6px;" scope="col"><div title="Student Name">&nbsp;&nbsp;Student Name,,.</div></th>
											<th style="width:20%;padding:6px;" scope="col"><div title="Schedule Time">Schedule Time</div></th>
											<th style="width:24%;padding:6px;" scope="col"><div title="Department">Department</div></th>
											<th style="width:24%;padding:6px;" scope="col"><div title="Sub Department">Sub Department</div></th>
											<th style="width:12%;padding:6px;" scope="col"><div title="Status">Status</div></th>
										</tr>
									</thead>
								</table>
                            				</div>
							
							<div class="slds-scrollable--y" >
								<table style="width:100%" class="slds-table slds-table_bordered slds-table_cell-buffer">
									<tr ng-repeat="slt in slotss">
										<td style="width:20%" scope="col"><div title="">{{ slt.name }}</div></td>
										<td style="width:20%" scope="col"><div>&nbsp;{{ slt.name }}</div></td>
										<td style="width:24%" scope="col"><div title="">{{ slt.name }}</div></td>
										<td style="width:24%" scope="col">
											<div title="">
												<div>
													{{ slt.name }}
												</div>
												<div>
														-
												</div>
											</div>
										</td>
										<td style="width:12%" scope="col"><div title="">{{ slt.name }}</div></td>    
									</tr>
								</table>
							</div>
							
							<table>
							  <tr ng-repeat="x in slotss">
							    <td>{{ x.name }}</td>
							    <td>{{ x.slot_start_time__c }}</td>
							  </tr>
							</table>
						</div>
						
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

</div>
</body>
</html>
